body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #00ff00; /* Slime Green */
  color: white;
  padding: 10px 10px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}
.menu a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.menu a:hover {
  text-decoration: underline;
}
footer {
  background-color: #00ff00; /* Slime Green */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
}
.help-button {
  position: absolute;
  top: -30px;
  right: 20px;
}
.help-button a {
  display: inline-block;
  text-decoration: none;
  background-color: white; /* White background */
  color: #00ff00; /* Slime Green for ? */
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #00ff00; /* Slime Green border */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 55px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}
.help-button a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #32cd32; /* Slime Green */
  color: white;
}
.page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 20px;
}
.page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.header-link {
  text-decoration: none;
  color: white;
}

.add-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #32cd32; /* Slime Green */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.add-button:hover {
  background-color: #28a428;
}
.add-button-link {
  text-decoration: none;
  color: white;
}

.form-page-container {
  min-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 15px;
  align-items: center;
  max-height: 475px;
  overflow: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.form-group input {
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-group select {
  width: 100%;
  padding: 10px 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.save-button {
  width: 200px;
  padding: 10px;
  background-color: #00ff00; /* Slime green */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #32cd32; /* Darker green */
}

.success-message {
  display: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
}

.table-wrapper {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.destination-image {
  max-width: 200px;
}
